AWS_ACCESS_KEY_ID=<aws_access_key>
AWS_SECRET_ACCESS_KEY=Bv/<aws_secret_key>
AWS_REGION=<region>
AWS_BUCKET_NAME=<bucket_name>

USE_LOCAL_STORAGE=False

REDIS_HOST=redis
REDIS_PORT=6379

BROKER_URL=amqp://media:password123@rabbitmq:5672//
REDIS_URL=redis://redis:6379/0